 .u-section-1 {
  min-height: 833px;
}

.u-section-1 .u-image-1 {
  height: 211px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-text-1 {
  letter-spacing: 13px;
  margin: -153px 139px 0 calc(((100% - 1140px) / 2)  + 136px);
}

.u-section-1 .u-layout-wrap-1 {
  width: 1074px;
  margin: 140px auto 36px calc(((100% - 1140px) / 2)  + 16px);
}

.u-section-1 .u-image-2 {
  min-height: 478px;
  filter: none;
  background-image: url("images/photo-1634382653568-8271aa4956fb.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 9px;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  margin: 385px 12px 0;
}

.u-section-1 .u-image-3 {
  min-height: 520px;
  --radius: 20px;
  background-image: url("images/1765182056387.jpeg");
  background-position: 56.1% 50%;
  background-size: cover;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  margin: 325px 0 0 15px;
}

.u-section-1 .u-image-4 {
  min-height: 520px;
  background-image: url("https://images.unsplash.com/photo-1716151605997-5cfa9ba16cda?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1NzgzNjl8MHwxfHNlYXJjaHw3fHxQcm9mZXNzaW9uYWwlMjBMaXZlJTIwQXVkaW8lMjAlMjYlMjBFdmVudCUyMFRlY2h8ZW58MHx8fHwxNzY2OTQyNjk0fDA&ixlib=rb-4.1.0&q=80&w=1080");
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  margin: 376px -12px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1087px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2)  + 136px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-2 {
    min-height: 418px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: -7px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -65px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-image-3 {
    min-height: 455px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    min-height: 455px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1005px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 136px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    min-height: 320px;
  }

  .u-section-1 .u-image-3 {
    min-height: 349px;
  }

  .u-section-1 .u-image-4 {
    min-height: 349px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1943px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 136px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    min-height: 720px;
  }

  .u-section-1 .u-image-3 {
    min-height: 785px;
  }

  .u-section-1 .u-image-4 {
    min-height: 785px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1497px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 88px;
    margin-left: calc(((100% - 340px) / 2)  + 86px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    min-height: 453px;
  }

  .u-section-1 .u-image-3 {
    min-height: 494px;
  }

  .u-section-1 .u-image-4 {
    min-height: 494px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 624px;
}

.u-section-2 .u-icon-1 {
  width: 149px;
  height: 149px;
  margin: 28px auto 0 30px;
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: -121px 89px 0 266px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  transform-origin: center center 0px;
  transform: scaleX(-1);
  margin: 42px 138px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: -238px 646px 0 64px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 668px 0 42px;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 30px auto 60px 179px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 510px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 510px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 290px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1.6666666666666665rem;
    margin-right: 110px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.1111111111111112rem;
    margin-right: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-right: 40px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1366px;
}

.u-section-3 .u-image-1 {
  --radius: 10px;
  width: 450px;
  height: 300px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-2 {
  --radius: 10px;
  width: 467px;
  height: 300px;
  margin: -300px 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 15px auto 0 460px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 50px 380px 0 330px;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-3 .u-list-icon-2 {
  color: rgb(244, 67, 54) !important;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-3 .u-image-3 {
  height: 251px;
  width: 517px;
  margin: 26px auto 0 20px;
}

.u-section-3 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 494px;
  height: 494px;
  margin: -381px 50px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 377px;
  height: 377px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(23deg);
}

.u-section-3 .u-image-5 {
  --radius: 10px;
  width: 551px;
  height: 374px;
  margin: -89px auto 0 103px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: -805px 179px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 463px 20px 0 690px;
}

.u-section-3 .u-text-4 {
  margin-left: 690px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-list-icon-4 {
  color: rgb(244, 67, 54) !important;
}

.u-section-3 .u-list-icon-5 {
  color: rgb(244, 67, 54) !important;
}

.u-section-3 .u-list-icon-6 {
  color: rgb(244, 67, 54) !important;
}

.u-section-3 .u-list-icon-7 {
  color: rgb(244, 67, 54) !important;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  margin: 79px 129px 56px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 379px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 280px;
    margin-left: 230px;
  }

  .u-section-3 .u-image-4 {
    margin: -273px 71px 60px auto;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 510px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 510px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 290px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 170px;
    margin-left: 120px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -225px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 290px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.6666666666666665rem;
    margin-left: 218px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.1111111111111112rem;
    margin-right: 80px;
    margin-left: 30px;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-right: 46px;
  }

  .u-section-3 .u-image-4 {
    width: 415px;
    height: 415px;
    margin-top: -185px;
  }

  .u-section-3 .u-image-5 {
    width: 540px;
    height: 367px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -798px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 110px;
    font-size: 1.6666666666666665rem;
  }

  .u-section-3 .u-text-4 {
    margin-left: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 218px;
    margin-top: -227px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 137px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    height: 165px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 340px;
    height: 340px;
    margin-top: -295px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-top: -141px;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 231px;
    margin-top: 65px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -662px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to right, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.16000000000000003)), url('images/modern-Commercial-6272024.jpg');
  background-size: cover, cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 473px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 96px 182px 0 0;
}

.u-section-4 .u-icon-1 {
  width: 160px;
  height: 160px;
  margin: -238px 21px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-style: italic;
  margin: 135px 182px 58px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 299px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -14px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -27px;
    margin-bottom: 15px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 801px;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-1 {
  height: 431px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-inner-1 {
  --gap: 10px;
  grid-template-columns: repeat(3, auto);
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 75px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 11px 57px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-5 .u-gallery-1 {
    height: 355px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-5 .u-gallery-1 {
    height: 612px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2206px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1836px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-text-1 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1526px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1156px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1315px;
}

.u-section-6 .u-image-1 {
  width: 398px;
  height: 398px;
  margin: 64px auto 0 -12px;
}

.u-section-6 .u-icon-1 {
  width: 124px;
  height: 124px;
  margin: -329px 32px 0 auto;
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  margin: -124px 226px 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 92px 237px 0 492px;
}

.u-section-6 .u-image-2 {
  --radius: 10px;
  width: 450px;
  height: 300px;
  margin: 110px 18px 0 auto;
}

.u-section-6 .u-image-3 {
  --radius: 10px;
  width: 450px;
  height: 300px;
  margin: -115px auto 0 58px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: -79px 14px 0 526px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  margin: 32px 502px 0 auto;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  margin: 50px auto 40px 99px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 137px;
    margin-left: 392px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 340px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 302px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-right: 27px;
    margin-left: 282px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 120px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 170px;
    font-size: 1.6666666666666665rem;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 129px;
    font-size: 1.1111111111111112rem;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    font-size: 1.1111111111111112rem;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -271px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 107px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 227px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 227px;
    margin-top: -42px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: -6px;
  }
}